<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=recipes.title%></title>
    
</head>
<body>
    <style>
        img {
    height: 20vh;
    width: 20vw;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}
    </style>
    <h1><%=recipes.title%></h1>
    <a href="<%=recipes.directionsURL%>">
        <img src="<%=recipes.imageURL%>">
    </a>
    <div class="links">
        See Also: <%recipes.seeAlso.forEach(seeAlsoLinks => {%>
            <a href="<%=seeAlsoLinks.url%>"><%=seeAlsoLinks.title%></a><br />
        <%})%>
        <button><a href="<%=recipes.directionsURL%>">Directions</a></button><br />
        <button><a href="/recipes/<%=recipes.id%>/edit">Edit</a></button>
        <form action="/recipes/<%=recipes.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
        <button><a href="/recipes">Home</a></button>
    </div>
</body>
</html>