<body>
    <h1>What's For Dinner?</h1>
    <div class="eachContent">
        <div class="titleAndImage">
            <h3><%=recipes.title%></h3>
            <a href="<%=recipes.directionsURL%>">
            <img src="<%=recipes.imageURL%>">
            </a>
        </div>

        <div class="ingredientsAllergensSeeAlso">
            <div class="ingredients"
                <h4>Ingredients:</h4> 
                <%let ingredientList = recipes.ingredients%>
                <%ingredientList.forEach(eachIngredient => {%>
                    <ul>
                        <li>
                            <%=eachIngredient%>
                        </li>
                    </ul>
                <%})%>
            </div>

            <div class="allergensSeeAlso">
                <h4>Allergens:</h4> 
                <%let allergenList = recipes.allergensContained%>
                <%allergenList.forEach(eachAllergen => {%>
                    <ul>
                        <li>
                            <%=eachAllergen%>
                        </li>
                    </ul>
                <%})%>

                <%if(recipes.seeAlso.length !== 0) {%>
                    <h4>See Also:</h4> 
                    <%recipes.seeAlso.forEach(seeAlsoLinks => {%>
                        <ul>
                            <li>
                                <a href="<%=seeAlsoLinks.url%>"><%=seeAlsoLinks.title%></a>
                            </li>
                        </ul>
                    <%})%>
                <%}%>
            </div>
        </div>
    </div>

        <div class="buttonsContainer">
            <button class="button"><a href="<%=recipes.directionsURL%>">Directions</a></button><br />
            <button class="button"><a href="/recipes/<%=recipes.id%>/edit">Edit</a></button>
            <form action="/recipes/<%=recipes.id%>?_method=DELETE" method="POST">
                <input class="button" type="submit" value="Delete">
            </form>
            <button class="button"><a href="/recipes">Home</a></button>
        </div>
    </div>
</body>
</html>