<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=recipes.title%></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <form class="form" action="/recipes/<%=recipes.id%>/?_method=put" method="POST">
        <div class="inputFields">
            <label class="label" for="title">Title:</label>
            <input class="input" type="text" name="title" value="<%=recipes.title%>" />
            <label class="label" for="ingredients">Ingredients:</label>
            <input class="input" type="text" name="ingredients" value="<%=recipes.ingredients%>" />
            <label class="label" for="imageURL">Link to Image:</label>
            <input class="input" type="text" name="imageURL" value="<%=recipes.imageURL%>" />
            <label class="label" for="directionsURL">Link to Directions:</label>
            <input class="input" type="text" name="directionsURL" value="<%=recipes.directionsURL%>" />
            <label class="label" for="allergens">Allergens:</label>
            <input class="input" type="text" name="allergens" value="<%=recipes.allergensContained%>" />
            <!-- <label class="label" for="seeAlso">Other Helpful Links:</label>
            <%recipes.seeAlso.forEach(seeAlsoLinks => {%>
            <input class="input" type="text" name="seeAlsoLinks.title" value="<%=seeAlsoLinks.title%>" />
            <input class="input" type="text" name="seeAlsoLinks.url" value="<%=seeAlsoLinks.url%>" />
            <%})%> -->
        <!-- office hours question: properly formatting a way to add See Also links/titles to this edit -->
        <!-- I want to be able to edit what exists AND leave the option to add more links -->
        </div>
        <input class="submit" type="submit" />
        <button><a style="text-decoration:none; color:white;" href="/recipes">Cancel</a></button>
</body>
</body>
</html>